{# templates/maintenance.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Site en maintenance{% endblock %}

{% block page_content %}
    <div class="container text-center">
        <h1>Site en maintenance</h1>
        <p>Le site est actuellement en maintenance. Nous reviendrons bientôt.</p>
    </div>
{% endblock %}
